body, #commands {
  background-color: black;
  color: silver;
  font-family: monospace;
  font-size: 12px;
}

p, #input {
  padding: 2px;
}

#commands {
  outline: none;
  border: none;
  background-color: transparent;
  margin: none;
}
